/AccesoDatos/nbproject/private/
/AccesoDatos/build/
/Ud02/nbproject/private/
/AD_Ud02/nbproject/private/
/AD_Ud03/nbproject/private/
/AD_Ud02/build/
/Tarea02/nbproject/private/
/AD_Tarea02/nbproject/private/
/AD_Tarea02/build/
/AD_Ud03/AD_Ud03/target/
/AD_Ud03/AD_Ud03/nbproject/private/
/AD_Ud03/AD_Ud03/build/
/AD_Ud03/pruebajdbc/target/
/AD_Ud03/target/
/AD_Tarea03/target/
/AD_Ud04/target/
/Hibernate_pildoras_informaticas/target/
/AD_Tarea04/target/
/AD_Ud05/target/
/AD_Ud05_Ejemplo_JSON_Postgres_Hibernate/target/
/tienda/target/
/AD_Ud05_tienda/target/
/AD_Tarea05/target/
/AD_Tarea06/target/
/AD_Tarea07/target/
/AD_Tarea07/nbproject/private/
/AD_Tarea07/build/
/AD_Tarea07/dist/
